@charset "utf-8";
/* CSS Document */

/*div{
    padding-right:5px;
	padding-left:5px;
	text-align:center;
}*/

#pomodoro{
  background-color: #4f5cdd;
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding:20px;
}
#mainContainer{
	text-align: center;
	height: 20em;
}
#mainContainer:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.button{
	background-color: #939bea;
	border: solid #212fa9 1px;
	display:inline-block;
	text-align:center;
	width:90px;
}
.title{
	background-color: #939bea;
	text-align:center;
}
.button-bar{
	text-align:right;
}

input{
	width:90px;
}

div.infoLine{
	text-align:right;
}
div.infoLine>*{
	display:inline-block;
}

*/